extends ../node_modules/jade-bootstrap/_bootstrap

head
  title=title
block body
  +navbar ("Colenso","dropdown_menu","inverse")
    +nav_item("/", "active") Home
    +nav_item("/search/") Search
    +nav_item("/upload/") Upload
  .container
    ol.breadcrumb
      - var n = 0
      while n < crumbs.length
        if n < crumbs.length - 2
          li
            if crumbs[n] == "Home"
              a(href="/") !{crumbs[n]}  
            else
              - var path = "/?path="
              - var i = 0
              while i < n
                - path = path + crumbs[n] + "/"
                - i++
              a(href=path) !{crumbs[n]}  
        else
            li.active !{crumbs[n]}
        - n++
            
    .list-group
      - var n = 0
      while n < files.length
        a.list-group-item(href= urls[n] ) !{files[n++]}