extends ../node_modules/jade-bootstrap/_bootstrap

head
	title=title

block body
	+navbar("Colenso","dropdown_menu","inverse")
		+nav_item("/") Home
		+nav_item("/search/", "active") Search
		+nav_item("/upload/") Upload

	.container
		+tab-list(["String_Search","Tag_Search"],0)
			+tab("String_Search","active") 
				.panel.panel-default
					form(id="searchCriteria", action="", method="get")
						.input-group
							input.form-control(id="q",name="searchString", placeholder='Search for String...', type="text")

							each word in nested
								input(name="nested[]",type="hidden", value = word)

							span.input-group-btn
								button.btn.btn-default(type='submit') Search
			+tab("Tag_Search")
				.panel.panel-default
					form(id="searchCriteria2", action="", method="get")
						.input-group
							input.form-control(id="q2",name="searchTag", placeholder='Search for Tag...', type="text")
							span.input-group-btn
								button.btn.btn-default(type='submit') Search
		span
			- var i = 0
			while i < nested.length
				- var link = ""
				- j = 0
				- first = true
				while j < nested.length
					if i != j
						if first
							- link = link + "?nested[]=" + nested[j]
							- first = false
						else
							- link = link + "&nested[]=" + nested[j]
					- j++
				button
					if (nested.length <= 1)
						a(href="/search") #{nested[i]} [Remove]
					else
						a(href=link) #{nested[i]} [Remove]
				- i++

		if nested.length > 0
			button
				a(href="/search") Clear All
		if files.length > 0
			.panel
				form(action="/downloadAll/", method="get")
					.input-group.pull-right
						button(type='submit') Download Results As Zip
						each word in nested
							input(name="nested[]",type="hidden", value = word)


	if didSearch
		.container   
			+panel-primary("Search Results")
				if files.length > 0
					.list-group
						- var n = pageNum * perPage
						- var count = 0
						while n < files.length && count < resultsPerPage
							- var link = "/doc/?v=" + files[n];
							a.list-group-item(href= link ) !{files[n++]}
							- count++
				else
					p There are no results
			ul.pagination
				- var n = pagiRange[0]
				while n <= pagiRange[1]
					- linkPage = baseURL + '&page=' + n
					if n == pageNum + 1
						li.active
							a(href=linkPage) #{n}
					else
						li
							a(href=linkPage) #{n}
					- n++;